<!DOCTYPE html>
<html>
  <head>
    <title>Weather</title>
  </head>
  <body>
    <h1>Weather</h1>
    <table>
      <thead>
        <tr>
          <th>City</th>
          <th>Temperature</th>
          <th>Humidity</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {% for data in weather_data %}
          <tr>
            <td>{{ data['name'] }}</td>
            <td>{{ data['main']['temp'] }} &deg;F</td>
            <td>{{ data['main']['humidity'] }}%</td>
             <!-- The 'weather' list contains a single item that represents the current weather for the city. 
            To access the 'description' key of this item, we need to use the index 0 to refer to the first (and only) element in the list. -->
            <td>{{ data['weather'][0]['description'] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
